body{
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background:#faf7ff;
}



/* NAVBAR */

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  background:rgba(255,255,255,0.6);
  backdrop-filter:blur(10px);
}

.logo{
  font-size:20px;
  font-weight:600;
  color:#6d28d9;
}

.nav-links a{
  margin-right:20px;
  text-decoration:none;
  color:#444;
  font-weight:500;
}

.start-btn{
  background:linear-gradient(135deg,#c084fc,#7c3aed);
  border:none;
  padding:10px 18px;
  border-radius:8px;
  color:white;
  cursor:pointer;
}



/* HERO */

.hero{
  padding:100px 80px;
  background:linear-gradient(135deg,#f5f3ff,#ede9fe);
}

.hero-content{
  display:flex;
  justify-content:space-between;
  align-items:center;
  max-width:1100px;
  margin:auto;
}

.hero-text{
  max-width:520px;
  animation:fadeUp 1s ease;
}

.hero h1{
  font-size:48px;
  color:#3b2f80;
}

.hero span{
  color:#7c3aed;
}

.hero p{
  margin-top:20px;
  font-size:18px;
  color:#555;
}

.hero-btn{
  margin-top:25px;
  padding:14px 28px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#a78bfa,#7c3aed);
  color:white;
  cursor:pointer;
}



/* AI Illustration */

.hero-illustration{
  animation:float 4s ease-in-out infinite;
}



/* FEATURES */

.features{
  padding:90px 20px;
  text-align:center;
}

.features h2{
  font-size:34px;
  color:#3b2f80;
}

.feature-grid{
  margin-top:50px;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  gap:30px;
  padding:0 100px;
}



/* GLASSMORPHISM CARD */

.feature-card{
  background:rgba(255,255,255,0.55);
  backdrop-filter:blur(12px);
  border:1px solid rgba(255,255,255,0.4);
  border-radius:16px;
  padding:30px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
  transition:0.3s;
  animation:fadeUp 1s ease;
}

.feature-card:hover{
  transform:translateY(-8px);
}

.icon{
  font-size:30px;
  margin-bottom:10px;
}



/* FOOTER */

.footer{
  margin-top:80px;
  padding:60px 20px;
  text-align:center;
  background:#2e1a47;
  color:white;
}

.team{
  margin-top:20px;
}



/* ANIMATIONS */

@keyframes fadeUp{

  from{
    opacity:0;
    transform:translateY(30px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}


@keyframes float{

  0%{
    transform:translateY(0px);
  }

  50%{
    transform:translateY(-12px);
  }

  100%{
    transform:translateY(0px);
  }

}